body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
.result, .steps {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #28a745;
    border-radius: 5px;
    background-color: #e9f7ef;
    color: #155724;
}
canvas {
    margin-top: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('/static/background tugas 10.jpg');
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
